.index-history-area {
    background-color: $color-bgc-dark;
    color: #fff;
    
    .index-history-inner-container {
        margin: 0 auto;
        padding: 6rem $m-padding;
        max-width: $sizes-maxContent;
        
        .area-title {
            margin-bottom: 4rem;
            font-weight: normal;
            text-align: center;
        }

        .history-by-year {
            display: flex;
            justify-content: center;

            .btn-history-by-year {
                display: flex;
                flex-direction: column;
                z-index: 10;
                
                button {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 2.5rem;
                    color: #fff;
                    font-size: $fontSizes-body2;
                    font-weight: bold;
                    width: 5rem;

                    &::after {
                        content: '';
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;    
                        background-color: $point-color;
                        
                    }

                    &.true::after {
                        content: '';
                        width: 18px;
                        height: 18px;
                        border-radius: 50%;
                        border: 3px solid #fff;
                        background-color: $point-color;
                        transform: translateX(1px);
                    }
                }
            }
    
            .history-of-the-year {
                margin-top: 0.2rem;
                padding-left: 2rem;
                padding-bottom: 1rem;
                border-left: 1px solid $color-gray2;
                font-size: $fontSizes-body3;
                transform: translate(-8px, 3px);
                
                .history-of-the-year-detail {
                    margin-bottom: 1.5rem;
                    p {
                        line-height: 0.8rem;
                        color: $color-gray1;
                        margin-bottom: 0.5rem;
                    }

                    li {
                        font-weight: 500;
                        position: relative;
                        display: flex;
                        align-items: center;
                        line-height: 1.4;
                        
                        &::before {
                            content: '';
                            position: absolute;
                            top: 0.6rem;
                            width: 2px;
                            height: 2px;
                            border-radius: 50%;
                            background-color: #fff;
                            margin-left: 3px;
                        }

                        span {
                            margin-left: 9px;
                            text-align: justify;
                            word-break: break-all;

                            a {
                                text-decoration: underline;
                                text-underline-position: under;
                            }
                        }
                    }
                }
            }
        }        
    }
}