.newsroom-category-n-search-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
  padding-bottom: 2rem;
  width: 100%;
  font-size: $fontSizes-body2;
  color: $color-gray5;

  .newsroom-category-inner-container {
    margin: 0 auto;
    padding: 0 1.5rem;
    width: $sizes-maxContent;
    height: 48px;

    overflow-x: auto;
    white-space: nowrap;

    .newsroom-category {
      display: inline-block;
      margin-right: 1rem;
      padding: 4px 1.5rem;
      border-radius: 50px;
      background-color: $color-gray2;
      color: white;
      text-align: center;
      height: 2rem;
      font-size: 16px;

      &.true {
        font-weight: 500;
        background-color: #000;
      }
    }

    .newsroom-category:hover {
      font-weight: 500;
      background-color: black;
    }
  }
}