.newsroom-search-area {
    margin-bottom: 2rem;
    border-top: 1px solid $color-gray1;
    border-bottom: 1px solid $color-gray1;
    font-size: $fontSizes-body2;
    color: $color-gray5;

    .newsroom-search-inner-container {
      display: flex;
      width: 100%;
      max-width: $sizes-maxContent;
      margin: 0 auto;
      padding: 2rem $m-padding;

      .newsroom-search-input {
        width: 80%;
        border: none;
        padding: 10px 20px;
        margin-left: 1%;
        font-size: $fontSizes-body2;
        color: #000;
      }

      .newsroom-search-input::placeholder {
        color: $color-gray3;
      }

      .newsroom-search-input:focus {
        outline: 1px solid $color-gray3;
        border-radius: 4px;
      }

      .newsroom-search-button {
        padding-left: 0;

        i {
          padding-left: 16px;
        }
      }
    }
  }