.newsroom-search-area {
    margin-bottom: 2rem;
    border-top: 1px solid $color-gray1;
    border-bottom: 1px solid $color-gray1;
    font-size: $fontSizes-body2;
    color: $color-gray5;

    .newsroom-search-inner-container {
      margin: 0 auto;
      padding: 2rem $m-padding;
      max-width: $sizes-maxContent;

      .newsroom-search-input {
        border: none;
        width: 80%;
        margin-left: 10px;
        padding: 10px 20px;
        color: $color-gray3;
      }
    }
  }