body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 8px 12px;
}

.navbar_logo {
  font-size: 24px;
  color: blueviolet;
}

.navbar_menu {
  display: flex;
  list-style: none;
}

.navbar_menu li {
  padding: 8px 12px;
}

.navbar_links {
  display: flex;
  list-style: none;
}

.navbar_links li {
  padding: 8px 12px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar_menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
