$point-color: #5a28fa;

$color-bgc-dark: #1a1a1a;

$color-gray1: #cccccc; // 연혁 설명 위 날짜
$color-gray2: #b3b3b3; // 언론속퍼플레이 화살표, 선
$color-gray3: #808080; // 메인 언론 위아래, 팀퍼플테두리, 푸터텍스트
$color-gray4: #4d4d4d; // 푸터 SNS 텍스트
$color-gray5: #333333; // 내비메뉴
$color-gray6: #f8f8f8; // 서비스 페이지 퍼줌 소개 부분 배경
$color-gray7: #161618; // 서비스 페이지 퍼플레이 소개 부분 배경
