// font
$fonts-system: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

// font size & line height
$fontSizes-companylogo: 1.5rem;

$fontSizes-heading1: 3rem;
$fontSizes-heading2: 2.65rem;

$fontSizes-strong: 4rem;

$fontSizes-body1: 1.4rem;
$fontSizes-body2: 1rem;
$fontSizes-body3: 0.9rem;
$fontSizes-body4: 0.7375rem;

$lineHeights-heading1: 5.625rem;
$lineHeights-heading2: 3.65rem;

$lineHeights-body1: 1.875rem;
$lineHeights-body2: 1.8rem;
$lineHeights-body3: 1.625rem;
$lineHeights-body4: 1.425rem;

// size
$m-padding: 24px;
$sizes-maxContent: 960px;