// font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

$fonts-system: "Noto Sans KR", sans-serif, "Noto Color Emoji";

// font size & line height
$fontSizes-companylogo: 1.5rem;
$fontSizes-companylogo-small: 1.2rem;

$fontSizes-heading1: 4rem;
$fontSizes-heading2: 2.75rem;
$fontSizes-heading3: 2.3rem;
$fontSizes-heading4: 1.8rem;

$fontSizes-body1: 1.4rem;
$fontSizes-body2: 1rem;
$fontSizes-body3: 0.9rem;
$fontSizes-body4: 0.7375rem;

$lineHeights-heading1: 5.625rem;
$lineHeights-heading2: 3.65rem;
$lineHeights-heading3: 2.75rem;

$lineHeights-body1: 1.875rem;
$lineHeights-body2: 1.8rem;
$lineHeights-body3: 1.625rem;
$lineHeights-body4: 1.425rem;

// size
$m-padding: 1.5rem;
$sizes-maxContent: 960px;