.contents-n-events-area {
    margin-top: -6rem;
    margin-left: -$m-padding;
    overflow: hidden;

    .service-title {
        margin: 0 auto 2rem;
        padding: 0 $m-padding;
        max-width: $sizes-maxContent;
        font-size: $fontSizes-heading2;
        font-weight: bold;
        letter-spacing: -1px;
    }

    .contents-n-events-wrapper {
        display: flex;
        width: 3240px;
        // animation: slide-to-left 10s linear infinite;

        .contents-n-events-item {
            & + .contents-n-events-item {
                padding-left: 1.5rem;
            }

            position: relative;

            .contents-n-events-img {
                border-radius: 15px;
            }
            .contents-n-events-desc {
                position: absolute;
                bottom: 0;
                padding: 0 1rem 1.5rem 1.5rem;

                width: 300px;
                font-size: $fontSizes-body3;
                color: #fff;

                .contents-n-events-with {
                    font-weight: bold;
                }

                .contents-n-events-about {
                    height: 1rem;
                    @include ellipsis;
                }
                
            }
        }
    }
}