.footer-area {
    left: 0;
    right: 0;
    bottom: 0;
    margin: 6rem auto;
    padding: 0 $m-padding;
    max-width: $sizes-maxContent;
    height: auto;
    letter-spacing: -0.3px;
    line-height: 1.7;
    
    .footer-company-name {
        font-size: $fontSizes-body2;
        font-weight: 600;
    }

    .footer-content-list {
        margin: 2rem 0;
    }

    .footer-content-item {
        font-size: $fontSizes-body4;
        color: $color-gray4;
        text-align: justify;
        word-break: break-all;
    }

    .footer-sns-wrapper {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        font-size: $fontSizes-body3;
        font-weight: 700;

        .btn-footer-sns {
            &:not(:last-child) {
                padding-right: 2rem;
            }
        }
    }
}