.footer-area {
    font-family: 'Courier New', Courier, monospace;
    font-size: $fontSizes-body3;
    align-items: center;
    padding: 0 $m-padding;
    margin: 0 auto;
    max-width: $sizes-maxContent;
    height: 100%;

     .footer-box {
         
         margin-top: 5rem;
       

          .footer-company {
              font-weight: bold;
              font-size: $fontSizes-body2;
          }

          .footer-list {
              display: inline-flex;
              width: 100%;

               .footer-list-item {
                   margin-top: 1rem;
                   font-size: $fontSizes-body4;
           
                   & + .footer-list-item {
                       padding-left: 10px;
                   }
               }
          }
     }

     .footer-sns-wrapper {
         display: flex;
         margin-top: 2rem;
         margin-bottom: 4rem;

          .btn-footer-sns {
              font-weight: bold;
              font-size: $fontSizes-body3;

              & + .btn-footer-sns {
                  padding-left: 3rem;
              }
          }
     }
   }