.header-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  height: 4rem;
  background-color: #fff;
  z-index: 9999;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $m-padding;
    margin: 0 auto;
    max-width: $sizes-maxContent;
    height: 100%;

    .purplay-company-logo {
      font-size: $fontSizes-companylogo;
      font-weight: 600;
      letter-spacing: 0.25rem;

      .purplay {
        color: $point-color;
      }
    }

    .category {
      font-size: $fontSizes-body3;
      color: $color-gray5;

      .category-list {
        display: flex;
      }
      .category-item {
        padding: 0;

        & + .category-item {
          padding-left: 3rem;
        }
        &.true {
          color: #000;
          font-weight: 800;
        }
      }
    }
  }
}
