.header-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    height: 4rem;
    background-color: #fff;
    border-bottom: 1px solid $color-gray3;
    z-index: 9999;

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 $m-padding;
        margin: 0 auto;
        max-width: $sizes-maxContent;
        height: 100%;

        .purplay-company-logo {
            font-size: $fontSizes-companylogo;
            font-weight: 600;
            letter-spacing: 0.25rem;

            .purplay {
                color: $point-color;
            }

            @media all and (max-width: 375px) {
                font-size: $fontSizes-companylogo-small;
            }
        }

        @media all and (min-width: 644px) {
            .btn-mobile-category {
                display: none;
            }
            .mobile-category-on-bg-layer {
                display: none;
            }
            .category {
                font-size: $fontSizes-body3;   
                color: $color-gray5;
                
                .category-list {
                    display: flex;
                }
                .category-item {
                    padding: 0;
                    
                    & + .category-item {
                        padding-left: 3rem;
                    }
                    &.true {
                        color: #000;
                        font-weight: 800;
                    }
                }
            }
            .mobile-category {
                display: none;
            }
        }

        @media all and (max-width: 643px) { 
            .mobile-category {
                position: absolute;
                top: 4rem;
                left: 0;
                width: 100%;
                max-width: $sizes-maxContent;
                font-size: $fontSizes-body1;   
                color: $color-gray5;
                background-color: #fff;

                .category-list {
                    display: flex;
                    flex-direction: column;
                    background-color: #fff;
                    // backdrop-filter: blur(30px);
                }
                .category-item {
                    padding: 1.5rem 1.5rem;
                    &.true {
                        color: #000;
                        font-weight: 800;
                    }
                }
            }
            .category {
                display: none;
            }
        }
    }
}