.members-area {
    width: 100%;
    background-color: $color-bgc-dark;

    .members-inner-container {
        margin: 0 -$m-padding;

        .members-title {
            margin: 0 auto 3rem;
            padding: 0 $m-padding;
            max-width: $sizes-maxContent;
            color: #fff;
            font-size: $fontSizes-heading1;
            font-weight: bold;
            white-space: pre-line;
        }

        .career-area {
            margin: 0 auto 3rem;
            padding: 0 2.5rem;
            max-width: $sizes-maxContent;
            
            .career-notice {
                padding: 1rem;
                border: 1px solid $color-gray3;
                font-size: $fontSizes-body1;
                font-weight: bold;
                color: $color-gray3;
            }
        }

        .members-wrapper {
            margin: 0 auto;
            padding: 0 $m-padding;
            max-width: $sizes-maxContent;

            display: flex;
            flex-wrap: wrap;

            .member-detail {
                flex: 1 1 28%;

                @media all and (min-width: 577px) and (max-width: 840px){
                    &:last-child {
                        flex-grow: 0.26;
                    }
                }

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                margin: 1rem;
                padding: 0 2rem;
                border-radius: 10px;
                background-color: #fff;
                text-align: center;

                .member-img {
                    margin-top: 1rem;
                    padding: 1rem;
                    border-radius: 50%;

                    width: 100%;
                }

                .member-name {
                    font-size: $fontSizes-body1;
                    font-weight: bold;
                }

                .belongs-to-n-position {
                    padding: 0.7rem 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-bottom: 1px solid #000;
                    
                    min-width: 168px;
                    font-size: $fontSizes-body2;
                    font-weight: bold;
                    color: $color-gray4;
                }

                .introduce-myself {
                    margin: 1rem 0 2rem;
                    height: 78px;
                    font-size: 1.1rem;
                    line-height: $lineHeights-body3;
                    color: $color-gray3;
                }
            }

        }

    }
}