.mission-area {
    max-width: $sizes-maxContent;
    margin: 0 auto;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;

    .mission-title {
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: $fontSizes-heading1;
        font-weight: normal;
        letter-spacing: -0.3px;
        white-space: pre-line;

        em {
            font-style: normal;
            font-weight: 700;
        }
    }

    .mission-desc {
        grid-column-start: 1;
        grid-column-end: 2;
        font-size: $fontSizes-body2;
        line-height: $lineHeights-body2;
        letter-spacing: -0.3px;
        font-weight: 100;
        white-space: pre-line;

        @media all and (max-width: 643px) {
            grid-column-start: 1;
            grid-column-end: 3;
            white-space: normal;
        }
    }

    .tag-grid-area {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 3;

        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;

        font-size: $fontSizes-strong;
        font-weight: 800;
        color: $point-color;

        @media all and (min-width: 767px) {
            .tag-1 {
                grid-column-start: 1;
                grid-column-end: 2;
                text-align: center;
                padding: 4rem 0;
                
            }
            .tag-2 {
                grid-column-start: 2;
                grid-column-end: 3;
                text-align: center;
                padding: 4rem 0;
            }
            .tag-3 {
                grid-row-start: 2;
                grid-column-start: 1;
                grid-column-end: 3;
                text-align: center;
            }
        }

        @media (max-width: 766px) and (min-width: 644px) {
            font-size: 3.7rem;
            .tag-1 {
                grid-column-start: 1;
                grid-column-end: 2;
                text-align: center;
                padding: 3rem 0; 
            }
            .tag-2 {
                grid-column-start: 2;
                grid-column-end: 3;
                text-align: center;
                padding: 3rem 0;
            }
            .tag-3 {
                grid-row-start: 2;
                grid-column-start: 1;
                grid-column-end: 3;
                text-align: center;
            }
        }

        @media all and (max-width: 643px) {
            .tag-1 {
                grid-column-start: 1;
                grid-column-end: 3;
                text-align: center;
                padding: 3rem 0;         
            }
            .tag-2 {
                grid-column-start: 1;
                grid-column-end: 3;
                text-align: center;
                padding: 3rem 0;
            }
            .tag-3 {
                grid-row-start: 2;
                grid-column-start: 1;
                grid-column-end: 3;
                text-align: center;
            }
        }

        @media all and (max-width: 425px) {
            font-size: 3.5rem;

            .tag-1,
            .tag-2,
            .tag-3 {
                padding: 2rem 0;
            }
        }

        @media all and (max-width: 375px) {
            font-size: 3rem;

            .tag-1,
            .tag-2,
            .tag-3 {
                padding: 2rem 0;
            }
        }

    }
}