.service-area {
    margin: 0 auto;
    max-width: $sizes-maxContent;
    
    .service-title {
        font-size: $fontSizes-heading1;
        font-weight: normal;
        letter-spacing: -0.3px;
        white-space: pre-line;

        em {
            font-style: normal;
            font-weight: 700;
        }
    }

    .service-list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .service-item {
            text-align: center;
            margin: 4rem 0;

            .service-item-img {
                width: 90%;
                border-radius: 16px;
                overflow: hidden;
            }
            
            .service-item-title {
                margin-top: 1rem;
                font-size: $fontSizes-body1;
                height: 2rem;
            }
        }
    }
}