body {
  min-width: 320px;
  line-height: normal;
  font-size: 1.4rem;
  color: #000;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
select,
table,
button,
code {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.4rem;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

input,
textarea {
  font-size: inherit;
  border: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #c9c9c9;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #c9c9c9;
  opacity: 1;
}

input[readonly]::-webkit-input-placeholder, input:disabled::-webkit-input-placeholder,
textarea[readonly]::-webkit-input-placeholder,
textarea:disabled::-webkit-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]::-ms-input-placeholder, input:disabled::-ms-input-placeholder,
textarea[readonly]::-ms-input-placeholder,
textarea:disabled::-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.header-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  height: 4rem;
  background-color: #fff;
  border-bottom: 1px solid #808080;
  z-index: 9999;
}

.header-area .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 960px;
  height: 100%;
}

.header-area .header-content .purplay-company-logo {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.25rem;
}

.header-area .header-content .purplay-company-logo .purplay {
  color: #5a28fa;
}

@media all and (max-width: 375px) {
  .header-area .header-content .purplay-company-logo {
    font-size: 1.2rem;
  }
}

@media all and (min-width: 644px) {
  .header-area .header-content .btn-mobile-category {
    display: none;
  }
  .header-area .header-content .mobile-category-on-bg-layer {
    display: none;
  }
  .header-area .header-content .category {
    font-size: 0.9rem;
    color: #333333;
  }
  .header-area .header-content .category .category-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-area .header-content .category .category-item {
    padding: 0;
  }
  .header-area .header-content .category .category-item + .category-item {
    padding-left: 3rem;
  }
  .header-area .header-content .category .category-item.true {
    color: #000;
    font-weight: 800;
  }
  .header-area .header-content .mobile-category {
    display: none;
  }
}

@media all and (max-width: 643px) {
  .header-area .header-content .mobile-category {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    max-width: 960px;
    font-size: 1.4rem;
    color: #333333;
    background-color: #fff;
  }
  .header-area .header-content .mobile-category .category-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
  }
  .header-area .header-content .mobile-category .category-item {
    padding: 1.5rem 1.5rem;
  }
  .header-area .header-content .mobile-category .category-item.true {
    color: #000;
    font-weight: 800;
  }
  .header-area .header-content .category {
    display: none;
  }
}

.content-area {
  width: 100%;
  margin: 0 auto;
}

.content-area > div:not(.culture-area) {
  padding: 6rem 1.5rem;
}

.mission-area {
  max-width: 960px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.mission-area .mission-title {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  font-size: 3rem;
  font-weight: normal;
  letter-spacing: -0.3px;
  white-space: pre-line;
}

.mission-area .mission-title em {
  font-style: normal;
  font-weight: 700;
}

.mission-area .mission-desc {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  font-size: 1rem;
  line-height: 1.8rem;
  letter-spacing: -0.3px;
  font-weight: 100;
  white-space: pre-line;
}

@media all and (max-width: 643px) {
  .mission-area .mission-desc {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    white-space: normal;
  }
}

.mission-area .tag-grid-area {
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  font-size: 4rem;
  font-weight: 800;
  color: #5a28fa;
}

@media all and (min-width: 767px) {
  .mission-area .tag-grid-area .tag-1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    padding: 4rem 0;
  }
  .mission-area .tag-grid-area .tag-2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    padding: 4rem 0;
  }
  .mission-area .tag-grid-area .tag-3 {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }
}

@media (max-width: 766px) and (min-width: 644px) {
  .mission-area .tag-grid-area {
    font-size: 3.7rem;
  }
  .mission-area .tag-grid-area .tag-1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    padding: 3rem 0;
  }
  .mission-area .tag-grid-area .tag-2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    padding: 3rem 0;
  }
  .mission-area .tag-grid-area .tag-3 {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }
}

@media all and (max-width: 643px) {
  .mission-area .tag-grid-area .tag-1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    padding: 3rem 0;
  }
  .mission-area .tag-grid-area .tag-2 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    padding: 3rem 0;
  }
  .mission-area .tag-grid-area .tag-3 {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }
}

@media all and (max-width: 425px) {
  .mission-area .tag-grid-area {
    font-size: 3.5rem;
  }
  .mission-area .tag-grid-area .tag-1,
  .mission-area .tag-grid-area .tag-2,
  .mission-area .tag-grid-area .tag-3 {
    padding: 2rem 0;
  }
}

@media all and (max-width: 375px) {
  .mission-area .tag-grid-area {
    font-size: 3rem;
  }
  .mission-area .tag-grid-area .tag-1,
  .mission-area .tag-grid-area .tag-2,
  .mission-area .tag-grid-area .tag-3 {
    padding: 2rem 0;
  }
}

.history-area {
  background-color: #1a1a1a;
  color: #fff;
}

.history-area .history-inner-container {
  margin: 0 auto;
  max-width: 960px;
}

.history-area .history-inner-container .history-title {
  margin-bottom: 4rem;
  font-size: 3rem;
  letter-spacing: -0.3px;
  white-space: pre-line;
  font-weight: normal;
  text-align: center;
}

.history-area .history-inner-container .history-title em {
  font-style: normal;
  font-weight: bold;
}

.history-area .history-inner-container .history-by-year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.history-area .history-inner-container .history-by-year .btn-history-by-year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
}

.history-area .history-inner-container .history-by-year .btn-history-by-year button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  width: 5rem;
}

.history-area .history-inner-container .history-by-year .btn-history-by-year button::after {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #5a28fa;
}

.history-area .history-inner-container .history-by-year .btn-history-by-year button.true::after {
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 3px solid #fff;
  background-color: #5a28fa;
  -webkit-transform: translateX(1px);
          transform: translateX(1px);
}

.history-area .history-inner-container .history-by-year .history-of-the-year {
  padding-left: 2rem;
  padding-bottom: 1rem;
  border-left: 1px solid #b3b3b3;
  font-size: 0.9rem;
  -webkit-transform: translate(-8px, 1px);
          transform: translate(-8px, 1px);
}

.history-area .history-inner-container .history-by-year .history-of-the-year .history-of-the-year-monthly {
  margin-bottom: 1.5rem;
}

.history-area .history-inner-container .history-by-year .history-of-the-year .history-of-the-year-monthly p {
  color: #cccccc;
  margin-bottom: 0.25rem;
}

.history-area .history-inner-container .history-by-year .history-of-the-year .history-of-the-year-monthly li {
  font-weight: bold;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.4;
}

.history-area .history-inner-container .history-by-year .history-of-the-year .history-of-the-year-monthly li::before {
  content: '';
  position: absolute;
  top: 0.6rem;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #fff;
  margin-left: 3px;
}

.history-area .history-inner-container .history-by-year .history-of-the-year .history-of-the-year-monthly li span {
  margin-left: 9px;
}

.service-area {
  margin: 0 auto;
  max-width: 960px;
}

.service-area .service-title {
  font-size: 3rem;
  font-weight: normal;
  letter-spacing: -0.3px;
  white-space: pre-line;
}

.service-area .service-title em {
  font-style: normal;
  font-weight: 700;
}

.service-area .service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-area .service-list .service-item {
  text-align: center;
  margin: 4rem 0;
}

.service-area .service-list .service-item .service-item-img {
  width: 90%;
  border-radius: 16px;
  overflow: hidden;
}

.service-area .service-list .service-item .service-item-title {
  margin-top: 1rem;
  font-size: 1.4rem;
  height: 2rem;
}

@media all and (max-width: 425px) {
  .service-area .service-list {
    display: block;
  }
  .service-area .service-list .service-item {
    margin: 2rem 0;
  }
}

.newsroom-area {
  border-top: 1px solid #808080;
}

.newsroom-area .newsroom-inner-container {
  margin: -1.5rem;
  padding-bottom: 3rem;
}

.newsroom-area .newsroom-inner-container .newsroom-title {
  margin: 0 auto 6rem;
  padding: 0 1.5rem;
  max-width: 960px;
  font-size: 3rem;
  font-weight: normal;
  letter-spacing: -0.3px;
}

.newsroom-area .newsroom-inner-container .newsroom-title em {
  font-style: normal;
  font-weight: bold;
}

.newsroom-area .newsroom-inner-container .newsroom-article-list {
  margin: 0 auto 3rem;
  padding: 0 1.5rem;
  max-width: 960px;
}

.newsroom-area .newsroom-inner-container .newsroom-article-list .newsroom-article-item {
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #b3b3b3;
  font-size: 1rem;
}

.newsroom-area .newsroom-inner-container .newsroom-article-list .newsroom-article-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.newsroom-area .newsroom-inner-container .newsroom-article-list .newsroom-article-item a .article-info .article-title {
  font-weight: bold;
  line-height: 1.8rem;
}

.newsroom-area .newsroom-inner-container .newsroom-article-list .newsroom-article-item a .article-info .from-n-when {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  line-height: 1.8rem;
}

.newsroom-area .newsroom-inner-container .newsroom-article-list .newsroom-article-item a .article-info .from-n-when .and-bar {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.newsroom-area .newsroom-inner-container .newsroom-article-list .newsroom-article-item a .btn-more-article {
  position: relative;
  width: 1.5rem;
}

.newsroom-area .newsroom-inner-container .newsroom-article-list .newsroom-article-item a .btn-more-article::before {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-right: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  -webkit-transform: translate(-75%, -50%) rotate(-45deg);
          transform: translate(-75%, -50%) rotate(-45deg);
}

.newsroom-area .newsroom-inner-container .newsroom-article-list .newsroom-article-item a .btn-more-article::after {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-right: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  -webkit-transform: translate(-25%, -50%) rotate(-45deg);
          transform: translate(-25%, -50%) rotate(-45deg);
}

.culture-area {
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  height: 542px;
}

.culture-area .culture-img-wrapper {
  position: absolute;
  width: 100%;
  height: 540px;
  margin: 0 auto;
  overflow: hidden;
  z-index: -1;
}

.culture-area .culture-img-wrapper .culture-bg-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.culture-area .culture-inner-container {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 960px;
}

.culture-area .culture-inner-container .culture-title {
  margin-top: 6rem;
  font-size: 3rem;
  font-weight: normal;
  letter-spacing: -0.3px;
  white-space: pre-line;
}

.culture-area .culture-inner-container .culture-title em {
  font-style: normal;
  font-weight: bold;
}

.footer-area {
  left: 0;
  right: 0;
  bottom: 0;
  margin: 6rem auto;
  padding: 0 1.5rem;
  max-width: 960px;
  height: auto;
  letter-spacing: -0.3px;
  line-height: 1.7;
}

.footer-area .footer-company-name {
  font-size: 1rem;
  font-weight: bold;
}

.footer-area .footer-content-list {
  margin: 2rem 0;
  font-size: 0.7375rem;
  color: #4d4d4d;
}

.footer-area .footer-content-list .footer-content-item-wrapper {
  display: block;
}

.footer-area .footer-content-list .footer-content-item-wrapper .footer-content-item + .footer-content-item {
  padding-left: 4px;
  border-left: 1px solid #4d4d4d;
}

.footer-area .footer-sns-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  font-size: 0.9rem;
  font-weight: bold;
}

.footer-area .footer-sns-wrapper .btn-footer-sns:not(:last-child) {
  padding-right: 2rem;
}

.platform-area {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  margin: 0 auto;
  max-width: 960px;
}

.platform-area .service-title {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  font-size: 2.75rem;
  font-weight: bold;
  letter-spacing: -1px;
}

.platform-area .platform-item {
  position: relative;
  border-radius: 12px;
  padding: 2rem 1.5rem 0 1.5rem;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

.platform-area .platform-item .platform-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.platform-area .platform-item .platform-item-info .platform-item-text .platform-item-title {
  margin: 0 0 0.5rem 0.2rem;
  font-size: 1rem;
}

.platform-area .platform-item .platform-item-info .platform-item-text .platform-item-desc {
  margin-bottom: 2rem;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 2.75rem;
  white-space: pre-line;
}

.platform-area .platform-item .online-theater-wrapper {
  width: 2282px;
  margin-left: -2rem;
  -webkit-animation: slide-to-left 16s linear infinite;
          animation: slide-to-left 16s linear infinite;
}

@media all and (max-width: 480px) {
  .platform-area .platform-item .online-theater-wrapper {
    position: absolute;
    top: 0;
    z-index: -1;
  }
}

.platform-area .platform-item .online-theater-wrapper .online-theater-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.platform-area .platform-item .online-theater-wrapper .online-theater-item {
  position: relative;
  margin-right: 0.2rem;
}

.platform-area .platform-item .online-theater-wrapper .online-theater-item figure {
  height: 300px;
}

.platform-area .platform-item .online-theater-wrapper .online-theater-item figure img {
  height: 300px;
}

.platform-area .platform-item.online-theater {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  border: 1px solid #1a1a1a;
}

@media all and (max-width: 480px) {
  .platform-area .platform-item.online-theater {
    background-color: rgba(255, 255, 255, 0.4);
    height: 300px;
  }
}

.platform-area .platform-item.online-theater .platform-item-title {
  color: #5a28fa;
}

.platform-area .platform-item.streaming {
  background-color: #1a1a1a;
  color: #fff;
}

@media all and (max-width: 576px) {
  .platform-area .platform-item.streaming {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    height: 300px;
  }
}

.platform-area .platform-item.streaming .streaming-bg-img {
  width: 100%;
}

.platform-area .platform-item.streaming .btn-more-service {
  background-color: #fff;
}

.platform-area .platform-item.streaming .btn-more-service::before, .platform-area .platform-item.streaming .btn-more-service::after {
  border-color: #1a1a1a;
}

.platform-area .platform-item.webzine {
  background-color: #cccccc;
}

@media all and (max-width: 576px) {
  .platform-area .platform-item.webzine {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    height: 300px;
  }
}

.platform-area .platform-item.webzine .webzine-bg-img {
  width: 100%;
}

.contents-n-events-area {
  margin-top: -6rem;
  margin-left: -1.5rem;
  overflow: hidden;
}

.contents-n-events-area .service-title {
  margin: 0 auto 2rem;
  padding: 0 1.5rem;
  max-width: 960px;
  font-size: 2.75rem;
  font-weight: bold;
  letter-spacing: -1px;
}

.contents-n-events-area .contents-n-events-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3240px;
}

.contents-n-events-area .contents-n-events-wrapper .contents-n-events-item {
  position: relative;
}

.contents-n-events-area .contents-n-events-wrapper .contents-n-events-item + .contents-n-events-item {
  padding-left: 1.5rem;
}

.contents-n-events-area .contents-n-events-wrapper .contents-n-events-item .contents-n-events-img {
  border-radius: 15px;
}

.contents-n-events-area .contents-n-events-wrapper .contents-n-events-item .contents-n-events-desc {
  position: absolute;
  bottom: 0;
  padding: 0 1rem 1.5rem 1.5rem;
  width: 300px;
  font-size: 0.9rem;
  color: #fff;
}

.contents-n-events-area .contents-n-events-wrapper .contents-n-events-item .contents-n-events-desc .contents-n-events-with {
  font-weight: bold;
}

.contents-n-events-area .contents-n-events-wrapper .contents-n-events-item .contents-n-events-desc .contents-n-events-about {
  height: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.how-to-work-area {
  margin: 0 auto -6rem;
  max-width: 960px;
}

.how-to-work-area .how-to-work-title {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: bold;
  white-space: pre-line;
}

.how-to-work-area .how-to-work-detail {
  margin-bottom: 1rem;
  text-align: justify;
}

.how-to-work-area .how-to-work-detail .how-to-work-subtitle {
  position: relative;
  display: inline;
  font-size: 1.8rem;
  font-weight: 600;
  vertical-align: top;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(38%, #eae0ff), color-stop(38%, transparent));
  background: linear-gradient(to top, #eae0ff 38%, transparent 38%);
}

.how-to-work-area .how-to-work-detail .how-to-work-desc {
  padding: 1.5rem;
  font-size: 1rem;
  line-height: 1.425rem;
}

.reward-area {
  margin: 0 auto;
  max-width: 960px;
}

.reward-area .reward-title {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: bold;
  white-space: pre-line;
}

.reward-area .reward-detail .reward-subtitle {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.reward-area .reward-detail .reward-desc-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 1rem;
  margin-bottom: 2rem;
  max-width: 960px;
}

@media all and (min-width: 481px) {
  .reward-area .reward-detail .reward-desc-wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (min-width: 769px) {
  .reward-area .reward-detail .reward-desc-wrapper {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.reward-area .reward-detail .reward-desc-wrapper .reward-desc {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  font-size: 1rem;
  line-height: 1.425rem;
  color: #808080;
}

.members-area {
  width: 100%;
  background-color: #1a1a1a;
}

.members-area .members-inner-container {
  margin: -1.5rem;
}

.members-area .members-inner-container .members-title {
  margin: 0 auto 3rem;
  padding: 0 1.5rem;
  max-width: 960px;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  white-space: pre-line;
}

.members-area .members-inner-container .career-area {
  margin: 0 auto 3rem;
  padding: 0 1.5rem;
  max-width: 960px;
}

.members-area .members-inner-container .career-area .career-notice {
  padding: 1rem;
  border: 1px solid #808080;
  font-size: 1.4rem;
  font-weight: bold;
  color: #808080;
}

.members-area .members-inner-container .members-wrapper {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.members-area .members-inner-container .members-wrapper .member-detail {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 28%;
          flex: 1 1 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
  padding: 0 2rem;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
}

@media all and (min-width: 577px) and (max-width: 840px) {
  .members-area .members-inner-container .members-wrapper .member-detail:last-child {
    -webkit-box-flex: 0.26;
        -ms-flex-positive: 0.26;
            flex-grow: 0.26;
  }
}

.members-area .members-inner-container .members-wrapper .member-detail .member-img {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 50%;
  width: 100%;
}

.members-area .members-inner-container .members-wrapper .member-detail .member-name {
  font-size: 1.4rem;
  font-weight: bold;
}

.members-area .members-inner-container .members-wrapper .member-detail .belongs-to-n-position {
  padding: 0.7rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #000;
  min-width: 168px;
  font-size: 1rem;
  font-weight: bold;
  color: #4d4d4d;
}

.members-area .members-inner-container .members-wrapper .member-detail .introduce-myself {
  margin: 1rem 0 2rem;
  height: 78px;
  font-size: 1.1rem;
  line-height: 1.625rem;
  color: #808080;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  margin-top: 4rem;
  word-break: keep-all;
}

.more {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  height: 68px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1;
  border: 2px solid;
  border-radius: 34px;
  text-align: center;
}

.more .btn-more-plus {
  width: 20px;
}

.more .btn-more-plus::before {
  content: '';
  position: absolute;
  width: 10px;
  border-top: 2px solid;
  background-color: inherit;
  -webkit-transform: translate(-50%, -0.5px);
          transform: translate(-50%, -0.5px);
}

.more .btn-more-plus::after {
  content: '';
  position: absolute;
  width: 10px;
  border-top: 2px solid;
  background-color: inherit;
  -webkit-transform: translate(-50%, -0.5px) rotate(90deg);
          transform: translate(-50%, -0.5px) rotate(90deg);
}

.more.service {
  border-color: #5a28fa;
  color: #5a28fa;
}

.more.culture {
  margin: 1rem 0 0 0;
  width: 15rem;
  border-radius: 8px;
  border: 0;
  background-color: #5a28fa;
  color: #fff;
}

.btn-more-service {
  position: relative;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #000;
  border-radius: 50%;
}

.btn-more-service::before {
  content: '';
  width: 1.7rem;
  height: 1.7rem;
  border-top: 3px solid #fff;
  -webkit-transform: translate(15%, 50%);
          transform: translate(15%, 50%);
}

.btn-more-service::after {
  content: '';
  width: 0.7rem;
  height: 0.7rem;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform: translate(-50%, 15%) rotate(45deg);
          transform: translate(-50%, 15%) rotate(45deg);
}

.and-bar {
  position: relative;
  width: 1rem;
  height: 1rem;
}

.and-bar::after {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-left: 1px solid #4d4d4d;
}

.hidden {
  display: none;
}

.mobile-category-on-bg-layer {
  position: fixed;
  top: 4rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  max-width: 960px;
}

.mobile-category-on {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

@-webkit-keyframes slide-to-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes slide-to-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
