.culture-how-to-work-area {
    margin: 0 auto -6rem;

    .area-title {
        margin-bottom: 2rem;
    }

    .how-to-work-list {
        text-align: justify;
        
        .how-to-work-item {
            margin-bottom: 1rem;

            .how-to-work-title {
                position: relative;
                display: inline;
                font-size: $fontSizes-heading4;
                font-weight: 600;
                vertical-align: top;
                background: linear-gradient(to top, #eae0ff 38%, transparent 38%);
            }

            .how-to-work-desc {
                padding: 1.5rem;
                font-size: $fontSizes-body2;
                line-height: $lineHeights-body4;
            }
        }
    }
}