.area-title {
    font-size: $fontSizes-heading2;
    font-weight: bold;
    letter-spacing: -0.3px;
    white-space: pre-line;

    em {
        font-style: normal;
        font-weight: bold;
    }
}


.more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 700px;
    height: 68px;
    font-size: $fontSizes-body1;
    font-weight: bold;
    line-height: 1;
    border: 2px solid;
    border-radius: 34px;
    text-align: center;

    .btn-more-plus {
        width: 20px;
        &::before {
            content: '';
            position: absolute;
            width: 10px;
            border-top: 2px solid;
            background-color: inherit;
            transform: translate(-50%, -0.5px);
        }

        &::after {
            content: '';
            position: absolute;
            width: 10px;
            border-top: 2px solid;
            background-color: inherit;
            transform: translate(-50%, -0.5px) rotate(90deg); 
        }
    }

    &.service {
        border-color: $point-color;
        color: $point-color;
    }

    &.culture {
        margin: 1rem 0 0 0;
        width: 15rem;
        border-radius: 8px;
        border: 0;
        background-color: $point-color;
        color: #fff;
    }
}

.btn-platform-detail {
    position: relative;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #000;
    border-radius: 50%;

    &::before {
        content: '';
        width: 1.7rem;
        height: 1.7rem;
        border-top: 3px solid #fff;
        transform: translate(15%,50%);
    }
    &::after {
        content: '';
        width: 0.7rem;
        height: 0.7rem;
        border-top: 3px solid #fff;
        border-right: 3px solid #fff;
        transform: translate(-50%, 15%) rotate(45deg);
    }
}

.and-bar {
    position: relative;
    width: $fontSizes-body2;
    height: $fontSizes-body2;

    &::after {
        content: '';
        position: absolute;
        width: $fontSizes-body2;
        height: $fontSizes-body2;
        border-left: 1px solid $color-gray4;
    }
}

.hidden {
    display: none;
}

.mobile-category-on-bg-layer {
    position: fixed;
    top: 4rem;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    max-width: $sizes-maxContent;
}

.mobile-category-on {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: none;
}

@keyframes slide-to-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein-late {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}