.service-contents-n-events-area {

    .area-title {
        margin: 0 auto 2rem;
        padding: 0 $m-padding;
        max-width: $sizes-maxContent;
        letter-spacing: -1px;
    }

    .contents-n-events-slide {
        position: relative;

        .left-gradient {
            position: absolute;
            width: 80px;
            height: 300px;
            background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0));
            z-index: 100;
        }

        .right-gradient {
            position: absolute;
            top: 0;
            right: 0;
            width: 80px;
            height: 300px;
            background-image: linear-gradient(to right, rgba(255,255,255,0),rgba(255,255,255,1));
            z-index: 100;
        }

        .contents-n-events-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            padding: 0 $m-padding;
            overflow: auto;
            white-space: nowrap;
            
            &::-webkit-scrollbar{
                display: none; 
            }

            .contents-n-events-item {
                & + .contents-n-events-item {
                    padding-left: 1.5rem;
                }

                position: relative;

                .contents-n-events-img {
                    border-radius: 15px;
                }
                .contents-n-events-desc {
                    position: absolute;
                    bottom: 0;
                    padding: 0 1rem 1.5rem 1.5rem;

                    width: 300px;
                    font-size: $fontSizes-body3;
                    color: #fff;

                    .contents-n-events-with {
                        font-weight: bold;
                    }

                    .contents-n-events-about {
                        @include ellipsis;
                    }
                    
                }
            }
        }
    }

    .contents-n-events-navigator {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    
        margin: 1rem auto 6rem;
        max-width: 280px;
        height: 50px;

        .btn-contents-n-events-left {
            position: relative;
            z-index: 15;
             
            &::before {
                content: '';
                position: absolute;
                width: 1.5rem;
                height: 1.5rem;
                border-right: 1px solid $color-gray2;
                border-bottom: 1px solid $color-gray2;
                transform: translate(-75%, -50%) rotate(135deg);
            }
            
            &::after {
                content: '';
                position: absolute;
                width: 1.5rem;
                height: 1.5rem;
                border-right: 1px solid $color-gray2;
                border-bottom: 1px solid $color-gray2;
                transform: translate(-25%, -50%) rotate(135deg);
            }
        }

        .btn-contents-n-events-right {
            position: relative;
            z-index: 15;

            &::before {
                content: '';
                position: absolute;
                width: 1.5rem;
                height: 1.5rem;
                border-right: 1px solid $color-gray2;
                border-bottom: 1px solid $color-gray2;
                transform: translate(-75%, -50%) rotate(-45deg);
            }
            
            &::after {
                content: '';
                position: absolute;
                width: 1.5rem;
                height: 1.5rem;
                border-right: 1px solid $color-gray2;
                border-bottom: 1px solid $color-gray2;
                transform: translate(-25%, -50%) rotate(-45deg);
            }

            &:hover {
                cursor: pointer;
            }
        }

        .contents-n-events-pagination {
            display: flex;
            flex-direction: row;

            .btn-contents-n-events-pagination {
                position: relative;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                border: 1px solid $color-gray2;

                & + .btn-contents-n-events-pagination {
                    margin-left: 12px;
                }

                &.true {
                    background-color: $color-gray2;
                }
            }
        }
    }
}